.addComment {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    .addComentUsername{
        font-weight: bold;
        padding-right:20px;
    
}
}